# Pandas for Data Analysis 1 – sorting, filtering, subsetting

## Import libraries

In [1]:
## import libraries
import pandas as pd

## Upload Olympics datasets to this notebook.

### Import ```summer.csv``` and store in a dataframe called ```oly_s```.

### Import ```winter.csv``` and store in a dataframe called ```oly_w```.

In [2]:
## import summer data
oly_s = pd.read_csv("data/summer.csv")
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
## import winter data
oly_w = pd.read_csv("data/winter.csv")
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

## Get a sense of the data

In [4]:
## SUMMER
## what exactly do we have: columns, datatypes, etc.
oly_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
## WINTER
## what exactly do we have: columns, datatypes, etc.
oly_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
dtypes: int64(1), object(8)
memory usage: 405.8+ KB

### ```Series``` v. ```DataFrame```

A single 'column' of data in a ```dataframe``` is known as a series.

A ```series``` is like a Python ```list```.

### ```Series``` v. ```DataFrame```

#### Why does this matter?

#### Different methods work on ```series``` and ```dataframes```.

In [6]:
## METHOD 1 to return a sereies
## df.column_name also returns a Pandas Series
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [7]:
## METHOD 2 to return a sereies
## df['ColumnName'] also returns a Pandas Series
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

### Method 2 is preferred because you will often work with data with multiword column headers:

This will break:

```df.Multi Word Header```

This will NOT break:

```df["Multi Word Header"]```

### If you pass multiple column headers, it returns dataframe with only those columns

####  ```df[["Column 1", "Column 2"]]```

In [8]:
## df[["Column1", "Column2"]] returns a dataframe
df = oly_w[["Year", "City"]]
df.sample(10)

      Year               City
2308  1988            Calgary
4282  2006              Turin
4306  2006              Turin
2045  1984           Sarajevo
464   1948          St.Moritz
710   1956  Cortina d'Ampezzo
3659  2002     Salt Lake City
4229  2006              Turin
691   1952               Oslo
1055  1964          Innsbruck

## Sorting

```df_name.sort_values(by=["Value 1", "Value 2"], ascending = True)``` for A-Z or smaller numbers to bigger numbers

```ascending = False``` for Z-A or bigger to smaller numbers.

In [9]:
## Sort by values (City and Year)

city_yr_sort = df.sort_values(by=["City", "Year"], ascending=True)
city_yr_sort

      Year         City
2502  1992  Albertville
2503  1992  Albertville
2504  1992  Albertville
2505  1992  Albertville
2506  1992  Albertville
...    ...          ...
5153  2010    Vancouver
5154  2010    Vancouver
5155  2010    Vancouver
5156  2010    Vancouver
5157  2010    Vancouver

[5770 rows x 2 columns]

In [10]:
## sort by city and year but descending
city_yr_sort = df.sort_values(by=["City","Year"], ascending=False)
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

## Should Winter and Summer data remain separate?

### What if we want to know total gold medals for any country?

### But if we combine them, how to we easily distinguish between summer and winter?

### Creating a new column with a default value

In [11]:
## In oly_s, add "Season" column with the value "Summer"
oly_s["Season"] = "Summer"
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [12]:
## In oly_w, add "Season" column with the value "Winter"
oly_w["Season"] = "Winter"
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter

In [41]:
## are the two column headers identical?
list(oly_w.columns) == list(oly_s.columns)

True

In [42]:
## join winter and summer dataframes together into a dataframe called oly
join_list = [oly_s, oly_w]
oly = pd.concat(join_list, sort = True)
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [51]:
### confirm that you have the correct number of rows after the join.
### you can scroll up to count the number of entries in oly_w and oly_s. 
### The totals should be equal to the value generated below
oly.shape

(36935, 10)

In [50]:
oly_w.shape[0]

5770

In [52]:
## confirm programmatically that the rows add up
oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [53]:
### generate a random sample of 20 rows
### if you see only "summer" or only "winter" in the "Season" column, just run the cell again to
## confirm both seasons are in oly.
oly.sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
1639,"SOMERS-SMITH, John Robert",London,GBR,Rowing,Four Without Coxswain (4-),Men,Gold,Summer,Rowing,1908
16946,"LOSCH, Claudia",Los Angeles,FRG,Athletics,Shot Put,Women,Gold,Summer,Athletics,1984
1159,"GUSTAFSSON, Toini",Innsbruck,SWE,Cross Country Skiing,3X5KM Relay,Women,Silver,Winter,Skiing,1964
9668,"BUXTON, Douglas Raymond",Melbourne / Stockholm,AUS,Sailing,5.5M,Men,Bronze,Summer,Sailing,1956
7104,"LEAF, Charles Symonds",Berlin,GBR,Sailing,6M,Men,Gold,Summer,Sailing,1936
25242,"BUSCHSCHULTE, Antje",Athens,GER,Swimming,200M Backstroke,Women,Bronze,Summer,Aquatics,2004
17067,"MUSONE, Angelo",Los Angeles,ITA,Boxing,81 - 91KG (Heavyweight),Men,Bronze,Summer,Boxing,1984
28677,"HOWARD, Malcolm",Beijing,CAN,Rowing,Eight With Coxswain (8+),Men,Gold,Summer,Rowing,2008
2260,"SHARPE, Ivor Gordon",Stockholm,GBR,Football,Football,Men,Gold,Summer,Football,1912
16034,"MATZ, Evelyn",Moscow,GDR,Handball,Handball,Women,Bronze,Summer,Handball,1980
3279,"SANTELLI, Italo",Antwerp,ITA,Fencing,Sabre Team,Men,Gold,Summer,Fencing,1920
663,"BRAUNSCHWEIGER, Alfred",St Louis,GER,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1904
1321,"TITOVA, Lyudmila",Grenoble,URS,Speed skating,500M,Women,Gold,Winter,Skating,1968
16743,"RUIZ-CONFORTO, Tracie Lehuanani",Los Angeles,USA,Synchronized S.,Solo,Women,Gold,Summer,Aquatics,1984
14463,"KULCSAR, Gyözö",Montreal,HUN,Fencing,Épée Individual,Men,Bronze,Summer,Fencing,1976
4555,"SCARONE, Hector",Paris,URU,Football,Football,Men,Gold,Summer,Football,1924
13927,"BOGLIOLI, Wendy Lansbach",Montreal,USA,Swimming,100M Butterfly,Women,Bronze,Summer,Aquatics,1976
11148,"KRISS, Grigori",Tokyo,URS,Fencing,Épée Individual,Men,Gold,Summer,Fencing,1964
4309,"MACLEOD, Carla",Turin,CAN,Ice Hockey,Ice Hockey,Women,Gold,Winter,Ice Hockey,2006
2977,"FAUVEL, Pascal",Antwerp,FRA,Archery,Moving Bird Target 50M Teams,Men,Silver,Summer,Archery,1920

In [54]:
oly.to_csv("data/olympics.csv", encoding = "UTF-8", index = False)

## Improving memory allocation

If we were working with a massive dataset, we'd want to find ways to improve processing power.

For example, the following columns have only a few values that repeat again and again as strings. This is highly inefficient. 

- The "Season" column has "winter" and "summer", 
- The "Medal" column only has "gold", "silver" and "bronze",
- "Gender" at this point in the Olympics only has "male" and "female".

One way to improve memory allocation is to take columns with that contain only a few data points and turn them into categories.

In [18]:
## let's first get info() on oly.
## you should see how "Season", "Medal" and "Gender" are all string objects.
## Note that memory usage: 3.1+ MB

In [19]:
## convert gender, medal and season  to catagory

In [20]:
## See what the memory allocation is now using info()

It should have dropped to 2.4MB.
That's a big descrease for just about 37,000 rows. 

This would have an even bigger impact on larger datasets.

# Filter/Subset

## Create a subset that holds the results from the Sochi Olympics

```df[df["column_name"] == "value_in_column"]```

In [58]:
## Sochi subset
oly[oly["City"] == "Sochi"].sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5542,"MULDER, Ronald",Sochi,NED,Speed skating,500M,Men,Bronze,Winter,Skating,2014
5329,"BACKSTROM, Nicklas",Sochi,SWE,Ice Hockey,Ice Hockey,Men,Silver,Winter,Ice Hockey,2014
5549,"VERWEIJ, Koen",Sochi,NED,Speed skating,Team Pursuit,Men,Gold,Winter,Skating,2014
5439,"HAMLIN, Erin",Sochi,USA,Luge,Singles,Women,Bronze,Winter,Luge,2014
5617,"PERRILLAT BOITEUX, Ivan",Sochi,FRA,Cross Country Skiing,4X10KM Relay,Men,Bronze,Winter,Skiing,2014
5308,"JOKINEN, Jussi",Sochi,FIN,Ice Hockey,Ice Hockey,Men,Bronze,Winter,Ice Hockey,2014
5507,"FAN, Kexin",Sochi,CHN,Short Track Speed Skating,1000M,Women,Silver,Winter,Skating,2014
5375,"ALTMANN, Livia",Sochi,SUI,Ice Hockey,Ice Hockey,Women,Bronze,Winter,Ice Hockey,2014
5493,"LIANG, Wenhao",Sochi,CHN,Short Track Speed Skating,5000M Relay,Men,Bronze,Winter,Skating,2014
5389,"SCHELLING, Florence",Sochi,SUI,Ice Hockey,Ice Hockey,Women,Bronze,Winter,Ice Hockey,2014
5322,"SALMINEN, Sakari",Sochi,FIN,Ice Hockey,Ice Hockey,Men,Bronze,Winter,Ice Hockey,2014
5267,"WALL, Kirsten",Sochi,CAN,Curling,Curling,Women,Gold,Winter,Curling,2014
5321,"RUUTU, Tuomo",Sochi,FIN,Ice Hockey,Ice Hockey,Men,Bronze,Winter,Ice Hockey,2014
5704,"RIESSLE, Fabian",Sochi,GER,Nordic Combined,Sprint K120,Men,Bronze,Winter,Skiing,2014
5247,"PIKUS-PACE, Noelle",Sochi,USA,Skeleton,Individual,Women,Silver,Winter,Bobsleigh,2014
5337,"GUSTAVSSON, Jonas",Sochi,SWE,Ice Hockey,Ice Hockey,Men,Silver,Winter,Ice Hockey,2014
5295,"SHARP, Patrick",Sochi,CAN,Ice Hockey,Ice Hockey,Men,Gold,Winter,Ice Hockey,2014
5257,"MURDOCH, David",Sochi,GBR,Curling,Curling,Men,Silver,Winter,Curling,2014
5229,"TOMASEVICZ, Curtis",Sochi,USA,Bobsleigh,Four-Man,Men,Bronze,Winter,Bobsleigh,2014
5531,"KRAMER, Sven",Sochi,NED,Speed skating,10000M,Men,Silver,Winter,Skating,2014

In [59]:
## Store subset into dataframe called sochi_df
df_sochi = oly[oly["City"] == "Sochi"]
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

## How many values in a column?

```df_name["column_name"].value_counts()```

In [60]:
## How many men and women won medals Sochi?
# sochi_df.Gender.value_counts()

df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [61]:
## in all olympics how many gold, silver and bronze medals were given out?
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64

## Filtering by dates

You'll learn more about date and time in the coming week. For now, please note how the ```Year``` column is a  ```int64``` object and NOT a ```datetime``` object. We can still work with it for our needs.

In [24]:
## Find all the 1900 competitions

In [25]:
### return all the competitions between 1920 and 1950.
## METHOD 1

In [26]:
### return all the competitions between 1920 and 1950.
### METHOD 2

## Declare my filters

## Filter

In [27]:
## return only Tennis competitions between 1920 and 1950.
## METHOD 1

In [28]:
## return only Tennis competitions between 1920 and 1950.

### METHOD 2

## Declare my filters


## Filter

In [29]:
## return only Tennis competitions between 1920 and 1950.

### METHOD 3

## Declare my filters with meangingful names


## Filter

In [30]:
## return only Women's Tennis competitions between 1920 and 1950 
### METHOD 1

In [31]:
## return only Women's Tennis competitions between 1920 and 1950 
### METHOD 2

## Declare my filters

## Filter

In [32]:
## return only Women's Tennis competitions between 1920 and 1950.

### METHOD 3

## Declare my filters with meangingful names


## Filter

#### Which method did you prefer? Method 1 or 2 or 3? Why?

## What year was women's boxing introduced to the olympics?

In [33]:
## find all the names of sports first.
## how is boxing listed?

In [34]:
## create a filter for boxing and women


## Filter

## Summer v. Winter

It's likely that the Summer Olympics have more medal winners than Winter Olympics. How can we check?

In [35]:
## what is the total medal count for winter v. summer?

## How many medals were handed out at each olympics between 1896 and 2014?

Show the result from highest to lowest.

In [36]:
## how many medals were handed out at each olympics?
## show the result in descending order

In [37]:
## how many medals were handed out at each olympics each year from 2014 down to 1896.

## Filter and count

What are the top 5 sports that France has won the most gold in?

(HINT: different answers based on columns you decide to count)

In [38]:
## first you need to filter by country and gold

In [39]:
## answer if you count gold wins by "event"

In [40]:
## answer if you count gold wins by "sport"